API_KEY=required
PORT=number
TASKS_ENABLED=boolean
WHITE_SPACES=trim|required
NODE_ENV=enum(development,production)
APP_LANG=fallback(en-us)
LOWER_TO_UPPER=trim|uppercase
UPPER_TO_LOWER=trim|lowercase
CUSTOM=my_custom_validator
# THROW=throw_exception(myarg) #test comment